---
import Header from "src/components/Header";
import Picture from "src/components/Picture.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="R50Time 50歳からの出会いを応援する">
  <body class="w-full flex flex-1" style="">
    <div
      class="flex flex-1 flex-col items-stretch justify-center flex-wrap scroll-my-0 max-w-container w-full"
    >
      <div
        class="flex flex-1 flex-col items-stretch text-center max-w-5xl space-y-8 shadow-sm max-w-container w-full"
      >
        <header id="masthead" class="my-8 font-light">
          <div class="text-zinc-500 hover:text-green-600">
            <p class="text-4xl">
              <a href={import.meta.env.BASE_URL || "/"} rel="home"> R50Time</a>
            </p>

            <p class="text-sm">50歳からの出会いを応援する</p>
          </div>
        </header>
        <figure class="!mt-0">
          <Picture
            src="https://lp.r50time.jp/wp-content/uploads/2022/12/r50ti-2@lp.png"
            alt="R50Time"
            aspectRatio={1019 / 119}
          />
        </figure>

        <figure class="">
          <Picture
            src="https://lp.r50time.jp/wp-content/uploads/2022/12/main@lp.png"
            alt="50歳からの出会いを応援するR50Time"
            aspectRatio={1499 / 1072}
          />
        </figure>

        <div
          class="text-[white] hover:text-[#4b666e] bg-[#5dae5c] rounded-lg p-4"
          style="font-size: 30px"
        >
          <a
            class=""
            href="https://lp.r50time.jp/%e3%82%a2%e3%83%97%e3%83%aa%e3%82%a4%e3%83%b3%e3%82%b9%e3%83%88%e3%83%bc%e3%83%ab%e3%81%af%e3%81%93%e3%81%a1%e3%82%89/"
            style=""
            target="_blank"
            rel="noreferrer noopener">インストールはこちら</a
          >
        </div>

        <p class="bg-[#e3f1d3] w-full py-4 text-[#242527]" style="">
          <strong
            >マッチングはマイナスなイメージですか？<br
            />実は、警察署や総務省への届け出が必要な優良なサービスです。</strong
          >
        </p>

        <div class="">
          <figure class="aligncenter size-large is-resized">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/2-1@lp.png"
              alt="R50Time"
              aspectRatio={1499 / 1072}
            />
          </figure>
        </div>

        <p class="has-text-align-center" style="font-size: 18px">
          20歳～49歳のマッチングアプリ利用経験者は<strong>80％</strong
          >！だからこそ、50代だってマッチングしていいじゃない！
        </p>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/3@lp.png"
              alt="R50Time"
              aspectRatio={622 / 565}
            />
          </figure>
        </div>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/4@lp.png"
              alt="R50Time"
              aspectRatio={622 / 427}
            />
          </figure>
        </div>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/5@lp.png"
              alt="R50Time"
              aspectRatio={450 / 700}
            />
          </figure>
        </div>

        <p class="font-bold">
          <strong>1、毎晩テーマが変わる『一夜限りの談話室』</strong>
        </p>

        <p class="font-bold">
          <strong>2、ここでしか出会えない人とおしゃべり♪</strong>
        </p>

        <p class="font-bold">
          <strong>3、共通の趣味を持った人が見つかる</strong>
        </p>

        <p class="font-light">
          50歳からの時間を、もっと自由に、もっと素敵に楽しみませんか？
        </p>

        <div class="">
          <div
            class="text-[white] hover:text-[#4b666e] bg-[#5dae5c] rounded-lg p-4"
            style="font-size: 30px"
          >
            <a
              class=""
              href="https://lp.r50time.jp/%e3%82%a2%e3%83%97%e3%83%aa%e3%82%a4%e3%83%b3%e3%82%b9%e3%83%88%e3%83%bc%e3%83%ab%e3%81%af%e3%81%93%e3%81%a1%e3%82%89/"
              style="background-color: #5dae5c"
              target="_blank"
              rel="noreferrer noopener">インストールはこちら</a
            >
          </div>
        </div>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/6@lp.png"
              alt="R50Time"
              aspectRatio={448 / 497}
            />
          </figure>
        </div>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/7@lp.png"
              alt="R50Time"
              aspectRatio={407 / 720}
            />
          </figure>
        </div>

        <div class="">
          <figure class="aligncenter size-large">
            <Picture
              src="https://lp.r50time.jp/wp-content/uploads/2022/12/8@lp.png"
              alt="R50Time"
              aspectRatio={405 / 429}
            />
          </figure>
        </div>

        <div class="">
          <div
            class="text-[white] hover:text-[#4b666e] bg-[#5dae5c] rounded-lg p-4"
            style="font-size: 30px"
          >
            <a
              class=""
              href="https://lp.r50time.jp/%e3%82%a2%e3%83%97%e3%83%aa%e3%82%a4%e3%83%b3%e3%82%b9%e3%83%88%e3%83%bc%e3%83%ab%e3%81%af%e3%81%93%e3%81%a1%e3%82%89/"
              style="background-color: #5dae5c"
              target="_blank"
              rel="noreferrer noopener">インストールはこちら</a
            >
          </div>
        </div>

        <p class="bg-[#e3f1d3] w-full py-4 text-[#242527]" style="">
          <strong>R50Timeスタッフ <br />わたしたちが運営してます！</strong>
        </p>

        <figure class="size-large">
          <div class="grid grid-cols-5 gap-2">
            <Picture
              src="http://lp.r50time.jp/wp-content/uploads/2022/12/administrator-1@lp.png"
              alt="白形"
            />
            <Picture
              src="http://lp.r50time.jp/wp-content/uploads/2022/12/administrator-2@lp.png"
              alt="船橋"
            />
            <Picture
              src="http://lp.r50time.jp/wp-content/uploads/2022/12/administrator-3@lp.png"
              alt="浦岡"
            />
            <Picture
              src="http://lp.r50time.jp/wp-content/uploads/2022/12/administrator-4@lp.png"
              alt="小原"
            />
            <Picture
              src="http://lp.r50time.jp/wp-content/uploads/2022/12/administrator-5@lp.png"
              alt="澤口"
            />
          </div>
        </figure>

        <div
          class="grid 2xl:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 sm:grid-cols-1 gap-8"
        >
          <div class="flex flex-col space-y-8">
            <h4
              class="text-center bg-[#ff9ea5] py-8 px-14 text-[#f9f9f9]"
              style="font-size: 25px"
            >
              <strong>R50恋愛コラム</strong>
            </h4>

            <figure class="aligncenter size-large is-resized has-custom-border">
              <a href={import.meta.env.BASE_URL || "/"}>
                <Picture
                  src="https://lp.r50time.jp/wp-content/uploads/2022/12/1@lp.png"
                  alt="R50Time"
                  aspectRatio={1024 / 1024}
                />
              </a>
            </figure>

            <p class="text-center font-light" style="font-size: 18px">
              恋活・婚活・友活に役立つ情報満載♪
            </p>
          </div>

          <div class="flex flex-col space-y-8">
            <h4
              class="text-center bg-[#33a7b5] py-8 px-14 text-[#f9f9f9]"
              style="font-size: 25px"
            >
              <strong>R50お悩み相談室</strong>
            </h4>

            <div class="">
              <figure
                class="aligncenter size-large is-resized has-custom-border"
              >
                <a href={import.meta.env.BASE_URL || "/"}>
                  <Picture
                    src="https://lp.r50time.jp/wp-content/uploads/2022/12/2@lp.png"
                    alt="R50Time"
                    aspectRatio={1024 / 1024}
                  />
                </a>
              </figure>
            </div>

            <p class="text-center font-light" style="font-size: 18px">
              R50世代の赤裸々なお悩み<br />
            </p>
          </div>
        </div>

        <hr class="" />

        <div class="bg-[#364043] text-[white] w-full px-5 py-12">
          <div
            class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3 text-left"
          >
            <div class="flex flex-col space-y-6">
              <h4 class="font-bold text-xl">
                <strong>株式会社ソーシャルサービス</strong>
              </h4>
              <p class="text-sm whitespace-nowrap text-left">
                運営会社
                <br />
                株式会社ソーシャルサービス
                <br />
                東京都千代田区霞が関3-6-5<br />※総務省
                電気通信事業届出番号：A-04-19885<br
                />※麹町警察署受理番号:30220048-002
              </p>
            </div>

            <div class="flex flex-col space-y-6">
              <h4 class="font-bold text-xl"><strong>お問い合わせ</strong></h4>
              <p class="text-sm whitespace-nowrap">info.R50Time@gmail.com</p>
            </div>

            <div class="flex flex-col space-y-6">
              <h4 class="font-bold text-xl"><strong>SNS</strong></h4>
              <p class="text-sm whitespace-nowrap">
                各種SNSでもコラムや恋愛川柳を掲載中！
              </p>
              <ul class="flex flex-row space-x-4">
                <li
                  class="bg-[#1778f2] rounded-full w-9 h-9 flex items-center justify-center text-[#eef4f7] fill-[#eef4f7]"
                >
                  <a href="https://www.facebook.com/r50timeofficial" class=""
                    ><svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                      fill="currentColor"
                    >
                      <path
                        d="M12 2C6.5 2 2 6.5 2 12c0 5 3.7 9.1 8.4 9.9v-7H7.9V12h2.5V9.8c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.5h-1.3c-1.2 0-1.6.8-1.6 1.6V12h2.8l-.4 2.9h-2.3v7C18.3 21.1 22 17 22 12c0-5.5-4.5-10-10-10z"
                      ></path>
                    </svg><span class="hidden">Facebook</span>
                  </a>
                </li>

                <li
                  class="bg-[#1da1f2] rounded-full w-9 h-9 flex items-center justify-center text-[#eef4f7] fill-[#eef4f7]"
                >
                  <a href="https://twitter.com/R50timeofficial" class=""
                    ><svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                      fill="currentColor"
                    >
                      <path
                        d="M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z"
                      ></path>
                    </svg><span class="hidden">Twitter</span>
                  </a>
                </li>

                <li
                  class="bg-[#f00075] rounded-full w-9 h-9 flex items-center justify-center text-[#eef4f7] fill-[#eef4f7]"
                >
                  <a href="https://www.instagram.com/r50time_official/" class=""
                    ><svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                      focusable="false"
                      fill="currentColor"
                    >
                      <path
                        d="M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z"
                      ></path>
                    </svg><span class="hidden">Instagram</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</Layout>

<style is:global></style>
