---
import Header from "src/components/Header";
import Picture from "src/components/Picture.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="test">
  <body class="w-full flex flex-1" style="">
    <div
      class="flex flex-1 flex-col items-stretch justify-center flex-wrap scroll-my-0 max-w-container w-full"
    >
      <div
        class="flex flex-1 flex-col items-stretch text-center max-w-5xl space-y-8 shadow-sm max-w-container w-full"
      >
        <header id="masthead" class="my-8 font-light">
          <div class="text-zinc-500 hover:text-green-600">
            <p class="text-4xl">
              <a href={import.meta.env.BASE_URL || "/"} rel="home">test</a>
            </p>

            <p class="text-sm">test</p>
          </div>
        </header>
      </div>
    </div>
  </body>
</Layout>

<style is:global></style>
